<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Панель
    </div>
    <!-- Default to the left -->
    <strong>Сделано в <a href=""></a>  &copy; 2018 </strong>
</footer>