<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Панель коммерческих закупок
    </div>
    <!-- Default to the left -->
    <strong>Сделано в <a href="https://isky.solutions/">iSKY.SOLUTIONS</a>  &copy; 2017 </strong>
</footer>