<div class="menu-overlay"></div>
<ul class="nav-menu">
    <li class="nav-menu__item">
        <a href="#tenders">Найти тендер</a>
    </li>
    <li class="nav-menu__item">
        <a href="#how">Как это работает</a>
    </li>
    <li class="nav-menu__item">
        <a href="#rates">Тарифы</a>
    </li>
    <li class="nav-menu__item">
        <a href="#ask">Помощь</a>
    </li>
    <li class="nav-menu__item">
        <a href="/analytics">Аналитика</a>
    </li>
    <li class="nav-menu__item">
        <a href="#contacts">Контакты</a>
    </li>
    <li class="nav-menu__item">
        <a href="/admin" class="btn btn-success main-menu">Админ панель</a>
    </li>
</ul>
